$colorePrincipale: rgba(28, 28, 139, 0.6);//dato di tipo colore

$colori : (
    rosso: #ff0000,
    verde: #00ff00,
    blu: #0000ff,
    giallo: #ffff00,
    nero: #000000,
    bianco: #ffffff
);


