//variabili con dato numerico
$spaziaturaPiccola: 5px;
$numeroMassimo: 100;

//variabili con dato stringa
$fontPrincipale: "Arial, Helvetica, sans-serif";

//variabili con dato booleano
$usaBordi: true;
$usaOmbre: false;